<div class="entry">
  <div class="title">
    {{title}}
  </div>
  <div class="body">
    {{{body}}}
  </div>
  {{#each number}}
    {{#if hey}}
      <h2>{{number}}</h2>
    {{/if}}
  {{/each}}
</div>
<link href="/static/stylesheets/main.css" rel="stylesheet" type="text/css">
<script src="/static/javascripts/hialert.js"></script>
